@media only screen and (min-width: 1000px) and (max-width: 1140px) {
	#logo {
        margin-left: 15px;
    }
    .randbox {
		width: 203px;
	}
	#rweapon {
		width: 80%;
	}
    .opencase .opencase-drops {
        margin-left: 120px;
    }
    .userprofil .lcol {
        margin-right: 19px;
    }
}
@media only screen and (min-width: 1235px) and (max-width: 1340px) {
    #rweapon {
        width: 69%;
    }
    .opencase .opencase-drops {
        margin-left: 225px;
    }
}
@media only screen and (min-width: 1341px) and (max-width: 1450px) {
    #rweapon {
        width: 64%;
    }
    .opencase .opencase-drops {
        margin-left: 305px;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1680px) {
    #rweapon {
        width: 58%;
    }
    .opencase .opencase-drops {
        margin-left: 375px;
    }
}
@media only screen and (min-width: 1700px) and (max-width: 1890px) {
    #rweapon {
        width: 51%;
    }
    .opencase .opencase-drops {
        margin-left: 435px;
    }
}